body {
  font-family: "Poppins", sans-serif;
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  font-size: 16px;
}

main {
  margin: 15px;
  font-size: 16px;
  color: #3a3535;
  @media (min-width: 1025px) {
    max-width: 1000px;
    margin: auto;
  }
}

h1 {
  font-size: 1.7em;
  @media (min-width: 1025px) {
    font-size: 2em;
  }
}

h2 {
  @media (min-width: 1025px) {
    font-size: 1.625em;
    text-align: initial;
  }
}
h3 {
  font-size: 1.25em;
  margin-bottom: 0px;
  @media (min-width: 1025px) {
    text-align: initial;
    font-size: 1.375em;
  }
}
.wrapper-paragraph {
  @media (min-width: 1025px) {
    width: 725px;
  }
}

.wrapper-data-img {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  @media (min-width: 1025px) {
    flex-direction: row;
    margin-top: 25px;
  }
}
.summary {
  padding-bottom: 10px;
  @media (min-width: 1025px) {
    margin: 10px 0px 10px;
  }
}
.title {
  padding: 10px 0px;
}
.wrapper-data {
  display: block;
  padding-bottom: 6px;
  color: #5a5959;
  font-size: 1em;
  @media (min-width: 1025px) {
    font-size: 1.125em;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    color: inherit;
  }
}
.wrapper-img {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
  font-size: 2.5em;
  margin: auto;
  @media (min-width: 1025px) {
    height: 300px;
    width: 300px;
    margin: 0px;
  }
}
img {
  @media (min-width: 1025px) {
    width: 300px;
    height: 300px;
  }
}
.wrapper-ico {
  font-size: 1.25em;
  @media (min-width: 1025px) {
    padding-right: 0.31em;
  }
}
.wrapper-job-date {
  display: block;
  padding-bottom: 5px;
  @media (min-width: 1025px) {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px;
  }
}
.text-sumary,
.wrapper-paragraph,
.description {
  @media (min-width: 1025px) {
    font-size: 1.125em;
  }
}

.content-link {
  width: 260px;
  @media (min-width: 1025px) {
    width: 480px;
  }
}
.wrapper-job,
.information {
  display: flex;
  flex-direction: column;
}
.information {
  margin-bottom: 14px;
}
.text-know {
  display: inline-block;
}
.text-description {
  font-size: 1.125em;
  margin-top: 0.3125em;
}
.wrapper-job {
  @media (min-width: 1025px) {
    width: 750px;
  }
}
.wrapper-info {
  @media (max-width: 1024px) {
    padding-top: 10px;
  }
}

.data {
  padding-top: 12px;
  display: flex;
  @media (min-width: 1025px) {
    padding-top: 18px;
  }
}
.info {
  padding: 4px 0px 0px 10px;
  color: initial;
  text-decoration: none;
  &:hover {
    color: #3535d0;
  }
  @media (max-width: 678px) {
    font-size: 1em;
  }
}
.company,
.institution {
  font-size: 1.125em;
  padding: 4px 0px 4px 0px;
  @media (min-width: 1025px) {
    font-size: 1.25em;
  }
}
.place {
  padding-left: 7px;
  @media (min-width: 1025px) {
    padding-left: 0;
  }
}

.text-link {
  color: initial;
  text-decoration: none;
  padding: 0 5px;
  margin: 10px;
  font-size: 25px;
  background: #f7f7f7;
  border-radius: 4px;
  &:hover {
    color: #3535d0;
  }
}
.description {
  @media (max-width: 678px) {
    margin: 10px 0px;
  }
}

.wrapper-proyect {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    margin: 22px 5px;
    justify-content: space-between;
  }
}
.wrapper-title {
  @media (min-width: 1025px) {
    width: 250px;
  }
}
.wrapper-description {
  width: 680px;
}

.wrapper-knows {
  margin-top: 10px;
}
li {
  margin-bottom: 7px;
}
.wrapper-links {
  margin-top: 10px;
}
.wrapper-title-links {
  display: flex;
  flex-direction: column;
}
.tools {
  margin-bottom: 10px;
}
.tool {
  font-size: 0.89em;
  @media (min-width: 1025px) {
    font-size: 1em;
  }
}
