body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body h1,
body h2,
body h3,
body h4,
body p {
  margin: 0;
}

main {
  margin: 15px;
  font-size: 16px;
  color: #3a3535;
}
@media (min-width: 1025px) {
  main {
    max-width: 1000px;
    margin: auto;
  }
}

h1 {
  text-align: center;
  padding-bottom: 0.43em;
}
@media (min-width: 1025px) {
  h1 {
    padding: 1.4em;
    font-size: 2.3em;
  }
}

@media (min-width: 1025px) {
  h2 {
    font-size: 1.625em;
    text-align: initial;
  }
}

h3 {
  font-size: 1.25em;
  margin-bottom: 0px;
}
@media (min-width: 1025px) {
  h3 {
    text-align: initial;
    font-size: 1.375em;
  }
}

@media (min-width: 1025px) {
  .wrapper-paragraph {
    width: 725px;
  }
}

.wrapper-data-img {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .wrapper-data-img {
    flex-direction: row;
    margin-top: 25px;
  }
}

.summary {
  padding-bottom: 10px;
}
@media (min-width: 1025px) {
  .summary {
    margin: 10px 0px 10px;
  }
}

.title {
  padding: 10px 0px;
}

.wrapper-data {
  display: block;
  padding-bottom: 6px;
  color: #5a5959;
  font-size: 1em;
}
@media (min-width: 1025px) {
  .wrapper-data {
    font-size: 1.125em;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    color: inherit;
  }
}

.wrapper-img {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
  font-size: 2.5em;
  margin: auto;
}
@media (min-width: 1025px) {
  .wrapper-img {
    height: 300px;
    width: 300px;
    margin: 0px;
  }
}

@media (min-width: 1025px) {
  img {
    width: 300px;
    height: 300px;
  }
}

.wrapper-ico {
  font-size: 1.25em;
}
@media (min-width: 1025px) {
  .wrapper-ico {
    padding-right: 0.31em;
  }
}

.wrapper-job-date {
  display: block;
  padding-bottom: 5px;
}
@media (min-width: 1025px) {
  .wrapper-job-date {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px;
  }
}

@media (min-width: 1025px) {
  .text-sumary,
.wrapper-paragraph,
.description {
    font-size: 1.125em;
  }
}

.content-link {
  width: 260px;
}
@media (min-width: 1025px) {
  .content-link {
    width: 480px;
  }
}

.wrapper-job,
.information {
  display: flex;
  flex-direction: column;
}

.information {
  margin-bottom: 14px;
}

.text-know {
  display: inline-block;
}

.text-description {
  font-size: 1.125em;
  margin-top: 0.3125em;
}

@media (min-width: 1025px) {
  .wrapper-job {
    width: 750px;
  }
}

@media (max-width: 1024px) {
  .wrapper-info {
    padding-top: 10px;
  }
}

.data {
  padding-top: 12px;
  display: flex;
}
@media (min-width: 1025px) {
  .data {
    padding-top: 18px;
  }
}

.info {
  padding: 4px 0px 0px 10px;
  color: initial;
  text-decoration: none;
}
.info:hover {
  color: #3535d0;
}
@media (max-width: 678px) {
  .info {
    font-size: 1em;
  }
}

.company,
.institution {
  font-size: 1.125em;
  padding: 4px 0px 4px 0px;
}
@media (min-width: 1025px) {
  .company,
.institution {
    font-size: 1.25em;
  }
}

.place {
  padding-left: 7px;
}
@media (min-width: 1025px) {
  .place {
    padding-left: 0;
  }
}

.text-link {
  color: initial;
  text-decoration: none;
  padding: 0 5px;
  margin: 10px;
  font-size: 25px;
  background: #f7f7f7;
  border-radius: 4px;
}
.text-link:hover {
  color: #3535d0;
}

@media (max-width: 678px) {
  .description {
    margin: 10px 0px;
  }
}

.wrapper-proyect {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
@media (min-width: 1025px) {
  .wrapper-proyect {
    margin: 22px 5px;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .wrapper-title {
    width: 250px;
  }
}

.wrapper-description {
  width: 680px;
}

.wrapper-knows {
  margin-top: 10px;
}

li {
  margin-bottom: 7px;
}

.wrapper-links {
  margin-top: 10px;
}

.wrapper-title-links {
  display: flex;
  flex-direction: column;
}

.tools {
  margin-bottom: 10px;
}

.tool {
  font-size: 0.89em;
}
@media (min-width: 1025px) {
  .tool {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
